<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products-pages.css">
    <title>Anillos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/product-banner', {category: category}) %>
        <section class="products-container">
            <% products.forEach( product => { %>
                <%- include('../partials/product-card.ejs', {product: product}) %>
            <% }) %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>