<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="/js/productDetail.js"></script>
    <title>JFL Bisutería</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>

        <section class="descripcion-producto">

            <div class="imagenes">
                <!-- Vista de producto actual -->
                <div>
                    <img class="imagen-principal" src="/img/<%=product.category.name%>/<%=product.image_1%>" alt="">
                </div>
                <div>
                    <img class="imagen-sec" src="/img/<%=product.category.name%>/<%=product.image_2%>" alt="">
                </div>
            </div>
            <!-- </div> -->
            <div class="descripciones">
                <!-- Descripcion del producto -->
                <div class="datos-producto">
                    <h1 class="nombre-producto"><%=product.name%></h1>
                    <p class="descripcion-producto"><%=product.description%></p>
                </div>

                <!-- Seleccion de tallas y cantidades -->
                <div class="datos-compra">
                    <form action="">
                        <div class="resalta-campo">
                            <div class="field-row">
                                <p>Precio: </p>
                                <span class="<%= product.discount > 0 ? 'old-price' : '' %>"> $<%=product.price%></span>
                                <% if (product.discount > 0) { %>
                                    <span class="real-price">$ <%=newPrice.toFixed(2)%></span>
                                <% } %>
                            </div>
                            <div class="field-row">
                                <p>Material: </p> 
                                <span><%= product.material.name%></span>
                            </div>
                            <div class="field-row">
                                <p for="seleccionTalla">Talla: </p>
                                <select name="size" id="seleccionTalla">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                            <div class="field-row quant-container">
                                <p>Cantidad:</p>
                                <div class="quant-control">
                                    <button id="substract"><i class="fas fa-minus-circle"></i></button>
                                        <input type="number" value="0" id="quantInput">
                                    <button id="add"><i class="fas fa-plus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-btn">
                            <button type="submit" class="submit btn">Añadir al carrito</button>
                        </div>
                    </form>
                    <% if(locals.user && user.isAdmin == 1) { %>
                    <section class="user-options">
                       <button class="editar-btn"> <a href="/products/<%=product.id%>/edit" class="editar">Editar</a></button>
                            <button class="borrar-btn" id="borrar-producto">Borrar</button>
                    </section>
                    <% } %>
                </div>
            </div>
        </section>

        <section class="ventana">
            <div class="ventanaEmergente">
                <div class="texto-ventana">
                    <p>¿Realmente desea borrar el producto?</p>
                </div>
            
                <div class="botones-ventana">
                    <button class="confirmar-btn" id="cancelar">Cancelar</button>
                    <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
                        <button type="submit" class="confirmar-btn">Aceptar</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="comment-section">
            <%if (locals.user) { %>
            <section class="add-comment">
                <form action="/products/comment/<%=product.id%>" method="POST">
                    <label for="add-comment">Haz un comentario</label>
                    <input type="text" class="comment-title" placeholder="Título del comentario" name="title" required>
                    <textarea name="comment" id="add-comment" cols="20" rows="10" placeholder="Escribe aquí tu comentario" required></textarea>
                    <div class="comment-buttons">
                        <button type="reset">Borrar</button>
                        <button type="submit">Guardar</button>
                    </div>
                </form>
            </section>
            <% } %>
            <section class="see-comments">
                <h3>Comentarios</h3>
                    <%- include('../partials/comment.ejs') %>
                    <% if(comments.length == 0){ %>
                        <p>Aun no hay comentarios para este producto</p>
                    <% } %>
            </section>
        </section>     
    </main>
    <%- include('../partials/footer') %>
</body>
</html>