<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>JFL Bisuteria</title>
</head>
<body>
    <%- include('./partials/header') %>
    <section class="container-01">
        <!--Carrusel de imagenes en home-->
        <div class="slider">
            <div class="slide-1"></div>
            <div class="slide-2"></div>
            <div class="slide-3"></div>
            <div class="slide-1"></div>
        </div>
    </section>
    <main>
            <!--Texto intro-->
            <section class="container-02">
            <h1 class="titulo">Enfocados en tu estilo</h1>
            <p>En JFL Bisutería nos esforzamos todos los días en crear los mejores 
                diseños para que puedas lucir tú mejor estilo y sentirte seguro con quien eres.
                Al final la clase la tienes tú y nosotros te ayudamos a mostrarlo
            </p>
        </section>
        <!--Productos-muestra-->
        <section class="container-03">
            <div class="card card-01">
                <div class="face face1">
                    <div class="content">
                        <img src="/img/Inicio/Enlace_anillos.png" alt="Foto de men con anillos">
                        <h3>Anillos</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Descubre nuestra gran colección de anillos</p>
                            <a href="/product/anillos">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="card card-02">
                <div class="face face1">
                    <div class="content">
                        <img src="/img/Inicio/Enlace_collares.png" alt="Foto de men con anillos">
                        <h3>Collares</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Descubre nuestra gran colección de collares </p>
                            <a href="/product/collares">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="card card-03">
                <div class="face face1">
                    <div class="content">
                        <img src="/img/Inicio/Enlace_brazaletes.png" alt="Foto de men con anillos">
                        <h3>Brazaletes</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Descubre nuestra gran colección de brazaletes</p>
                            <a href="/product/brazaletes">Comprar</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-04">
            <h1>Los más vendidos</h1>
            <div class="products-container">
                <%- include('./partials/product-card.ejs') %>
                <%- include('./partials/product-card.ejs') %>
                <%- include('./partials/product-card.ejs') %>
                <%- include('./partials/product-card.ejs') %>
            </div>
        </section>
        <section class="container-04">
            <h1>Novedades</h1>
            <div class="products-container">
                <a href="/" class="product">
                    <div class="product-image">
                        <img class="pic main" src="/img/gold-ring.jpg" alt="Product">
                        <img class="pic back" src="/img/ring-2.jpg" alt="Vista 2">
                    </div>
                    <div class="product-info">
                        <p>Nombre del producto</p>
                        <p>Precio</p>
                    </div>
                </a>
                <a href="/" class="product">
                    <div class="product-image">
                        <img class="pic main" src="/img/gold-ring.jpg" alt="Product">
                        <img class="pic back" src="/img/ring-2.jpg" alt="Vista 2">
                    </div>
                    <div class="product-info">
                        <p>Nombre del producto</p>
                        <p>Precio</p>
                    </div>
                </a>
                <a href="/" class="product">
                    <div class="product-image">
                        <img class="pic main" src="/img/gold-ring.jpg" alt="Product">
                        <img class="pic back" src="/img/ring-2.jpg" alt="Vista 2">
                    </div>
                    <div class="product-info">
                        <p>Nombre del producto</p>
                        <p>Precio</p>
                    </div>
                </a>
                <a href="/" class="product">
                    <div class="product-image">
                        <img class="pic main" src="/img/gold-ring.jpg" alt="Product">
                        <img class="pic back" src="/img/ring-2.jpg" alt="Vista 2">
                    </div>
                    <div class="product-info">
                        <p>Nombre del producto</p>
                        <p>Precio</p>
                    </div>
                </a>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>