<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>Agregar productos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Formulario de producto</h1>
        <div class="main-section">
            <% if(locals.edit) { %>
                <section class="informacion-actual">
                    <h2>Información actual</h2>
                    <div class="informacion-actual-imgs">
                        <div class="actual-pic">
                            <img src="/img/<%=locals.product ? product.category.name: old.category.name %>/<%=locals.product ? product.image_1 : old.image_1%>" alt="<%=locals.product ? product.name : old.name%>">
                            <p>Imagen 1</p>
                        </div>
        
                        <div class="actual-pic">
                            <img src="/img/<%=locals.product ? product.category.name: old.category.name %>/<%=locals.product ? product.image_2 : old.image_2%>" alt="<%=locals.product ? product.name : old.name%>">
                            <p>Imagen 2</p>
                        </div>
                    </div>
        
                    <div class="datos-actual">
                        <p class="titulo">Nombre del producto:</p>
                        <p><%= locals.product ? product.name : old.name%></p>
                        <p class="titulo">Descripción:</p>
                        <p><%= locals.product ? product.description : old.description%></p>
                        <p class="titulo">Precio: </p>
                        <p>$<%= locals.product ? product.price : old.price%></p>
                        <p class="titulo">Material: </p>
                        <p><%= locals.product ? product.material.name.charAt(0).toUpperCase() + product.material.name.slice(1) : old.material.name%></p>
                        <p class="titulo">Inventario actual:</p>
                        <p><strong>S: </strong><%=locals.product ? product.quantity_S : old.quantity_S%></p>
                        <p><strong>M: </strong><%=locals.product ? product.quantity_M : old.quantity_M%></p> 
                        <p><strong>L: </strong><%=locals.product ? product.quantity_L : old.quantity_L%></p>                         
                    </div>
                </section>
                <% } %>
                <div class="agregar-product">
                    <h2>Agregando la información</h2>
                    <form action="/products/<%=locals.edit ? locals.product ? product.id + '?_method=PATCH' : old.id + '?_method=PATCH'  : ''%>" method= "post" enctype="multipart/form-data">
                        <section class="nombre">
                            <label for="nombre">Nombre del producto: </label>
                            <input type="text" name ="name" id="nombre" placeholder="Nombre" value="<%= locals.old ? old.name : ''%>">
                            <% if(locals.errors) { %>
                                <%errors.forEach(error => { %>
                                    <%if(error.param == 'name') { %>
                                        <p class="error-msg"><%=error.msg%></p>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </section>
        
                        <section class="descripcion">  
                            <label for="descripcion">Descripción:</label>
                            <textarea name ="description" id="descripcion" rows="5" placeholder="Escribe una breve descripción" ><%= locals.old ? old.description : ''%></textarea>
                            <% if(locals.errors) { %>
                                <%errors.forEach(error => { %>
                                    <%if(error.param == 'description') { %>
                                        <p class="error-msg"><%=error.msg%></p>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </section>
                        <section class="price-discount">
                            <section class="precio">
                                <label for="precio">Precio: $</label>
                                <input type="number" name ="price" id="precio" step="any" value="<%= locals.old ? old.price : 0%>">
                            </section>
                            <section class="descuento">
                                <label for="descuento">Descuento:</label>
                                <input type="number" name="discount" id="descuento" step="any" value="<%= locals.old ? old.discount : 0%>"><label>%</label>
                            </section>
                            <% if(locals.errors) { %>
                                <%errors.forEach(error => { %>
                                    <%if(error.param == 'price' || error.param == 'discount') { %>
                                        <p class="error-msg"><%=error.msg%></p>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </section>
        
        
                        <section class="categoria">
                            <label for="categoria">Categoría: </label>
                            <div class="category-container">
                                <div class="cat-opcion">
                                    <input type="radio" name="category" id = "anillos" value="1" <%= locals.old  && old.category ? old.category == 1 ? 'checked' : old.category.name == 'anillos' ? 'checked' : '' : 'checked'%>>
                                    <label for="anillos">Anillos</label>
                                </div>
                                <div class="cat-opcion">
                                    <input type="radio" name="category" id = "collares" value="3" <%= locals.old  && old.category ? old.category == 3 ? 'checked' : old.category.name == 'collares' ? 'checked' : '' : ''%>> 
                                    <label for="collares">Collares</label>
                                </div>
                                <div class="cat-opcion">
                                    <input type="radio" name="category" id = "brazaletes" value="2" <%= locals.old  && old.category ? old.category == 2 ? 'checked' : old.category.name == 'brazaletes' ? 'checked' : '' : ''%>>
                                    <label for="brazaletes"> Brazaletes</label>
                                </div>
                            </div>
                            <% if(locals.errors) { %>
                                <%errors.forEach(error => { %>
                                    <%if(error.param == 'category') { %>
                                        <p class="error-msg"><%=error.msg%></p>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </section>
                        <section class="materials">
                            <label for="materials">Material: </label>
                            <div class="materials-container">
                                <div class="mat-opcion">
                                    <input type="radio" name="material" id = "oro" value="2" <%= locals.old  && old.material ? old.material == 2 ? 'checked' : old.material.name == 'oro' ? 'checked' : '' : 'checked'%>>
                                    <label for="oro">Oro</label>
                                </div>
                                <div class="mat-opcion">
                                    <input type="radio" name="material" id = "plata" value="3" <%= locals.old  && old.material ? old.material == 3 ? 'checked' : old.material.name == 'plata' ? 'checked' : '' : ''%>> 
                                    <label for="plata">Plata</label>
                                </div>
                                <div class="mat-opcion">
                                    <input type="radio" name="material" id = "acero" value="1" <%= locals.old  && old.material ? old.material == 1 ? 'checked' : old.material.name == 'acero' ? 'checked' : '' : ''%>> 
                                    <label for="acero"> Acero</label>
                                </div>
                            </div>
                            <% if(locals.errors) { %>
                                <%errors.forEach(error => { %>
                                    <%if(error.param == 'materials') { %>
                                        <p class="error-msg"><%=error.msg%></p>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </section>
        
                        <section class="tallas">
                            <label for="">Cantidad:</label>
                            <% if(locals.edit) { %>
                            <p>Agrega la cantidad de articulos que desees adicionar al inventario existente</p>
                            <% } %>
                                <div class="tallas-text">
                                    <div class="quant">
                                        <label for="cant-S"> S: </label>
                                        <input type="number" name ="quantityS" id="cant-S" value="<%= locals.old ? old.quantityS || 0 : 0%>">
                                    </div>
                                    <div class="quant">
                                        <label for="cant-M">M: </label>
                                        <input type="number" name ="quantityM" id="cant-M" value="<%= locals.old ? old.quantityM || 0 : 0%>">
                                    </div>
                                    <div class="quant">
                                        <label for="cant-L">L: </label>
                                        <input type="number" name ="quantityL" id="cant-L" value="<%= locals.old ? old.quantityL ||0 : 0%>">
                                    </div>
                                </div>
                                <% if(locals.errors) { %>
                                    <%errors.forEach(error => { %>
                                        <%if(error.param == 'quantityS' || error.param == 'quantityM' || error.param == 'quantityL') { %>
                                            <p class="error-msg"><%=error.msg%></p>
                                        <% } %>
                                    <% }) %>
                                <% } %>
                        </section>
                        <section class="agregar-img">
                            <p><strong>Imágenes:</strong></p>
                            <div class="imagenes">
                                <ul>
                                    <li>
                                        <div class="img-preview">
                                            <button id="delete" class="delete"><i class="far fa-times-circle"></i></button>
                                        </div>
                                        <input class="image-file" type="file" name="image1" id="image-file-1" placeholder="Subir"><label>Imagen 1</label>
                                    </li>
                                    <li>
                                        <div class="img-preview">
                                            <button id="delete" class="delete"><i class="far fa-times-circle"></i></button>
                                        </div>
                                        <input class="image-file" type="file" name="image2" id="image-file-2"><label>Imagen 2</label>
                                    </li>
                                </ul>
                                <% if(locals.errors) { %>
                                    <%errors.forEach(error => { %>
                                        <%if(error.param == 'file') { %>
                                            <p class="error-msg"><%=error.msg%></p>
                                        <% } %>
                                    <% }) %>
                                <% } %> 
                            </div>
        
                        </section>                   
                        <section class="botones">
                            <button><a href="/">Cancelar</a></button>
                            <button  type="reset">Borrar todo</button>
                            <button type="submit">Guardar</button>
                        </section>
                    </form>
                </div>
        </div>
        
    </main>
    <script src="/js/addProduct.js"></script>
</body>
