<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editProduct.css">
    <title>Editando producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Editar producto</h1>
        <div class="register-product">
            <section class="informacion-actual">
                <h1>Informacion actual</h1>
                <div class="informacion-actual-imgs">
                    <img src="/img/<%=product.category%>/<%=product.images[0]%>" alt="<%=product.name%>">
                    <img src="/img/<%=product.category%>/<%=product.images[1]%>" alt="<%=product.name%>">
                    <!-- <img src="/img/ring-2.jpg" alt="">
                    <img src="/img/ring-2.jpg" alt=""> -->
                </div>
    
                <div class="datos-actual">
                    <p class="titulo">Nombre del producto:</p>
                    <p><%=product.name%></p>
                    <p class="titulo">Descripción:</p>
                    <p><%=product.description%></p>
                    <p class="titulo">Precio: </p>
                    <p>$<%=product.price%></p>
                </div>
            </section>
    
    
                <form action="/products/:id?_method=PATCH" method="POST" enctype="multipart/form-data">
                    <section class="nombre">
                        <label for="nombre">Nombre del producto: </label>
                        <input type="text" name ="nombre" id="nombre" value="<%=product.name%>">
                    </section>
    
                    <section class="descripcion">  
                        <label for="descripcion">Descripción:</label>
                        <textarea name ="descripcion" id="descripcion" rows="5"><%=product.description%></textarea>
                    </section>
    
                    <section class="precio">
                        <label for="precio">Precio: $</label>
                        <input type="text" name ="precio" id="precio" value="<%=product.price%>">
                    </section>

                    <section class="descuento">
                        <label for="descuento">Descuento:</label>
                        <input type="number" name="descuento" id="descuento" value="<%=product.discount%>">
                    </section>
    
                    <section class="categoria">
                        <label for="categoria">Categoría: </label>
                        <div class="cat-opcion">
                            <input type="radio" name="categoria" id = "anillos" value="anillos" checked>
                            <label for="anillos">Anillos</label>
                        </div>
                        <div class="cat-opcion">
                            <input type="radio" name="categoria" id = "collares" value="collares"> 
                            <label for="collares">Collares</label>
                        </div>
                        <div class="cat-opcion">
                            <input type="radio" name="categoria" id = "pulseras" value="pulseras">
                            <label for="pulseras"> Pulseras</label>
                        </div>
                    </section>

                    <section class="materials">
                        <label for="materials">Material: </label>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "oro" value="Oro" checked>
                            <label for="oro">Oro</label>
                        </div>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "plata" value="plata"> 
                            <label for="plata">Plata</label>
                        </div>
                        <div class="mat-opcion">
                            <input type="radio" name="materials" id = "acero" value="acero">
                            <label for="acero"> Acero</label>
                        </div>
                    </section>
    
                    <section class="tallas">
                        <p><strong>Tallas:</strong></p>
                            <div class="tallas-check">
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-S" value="s">
                                    <label for="talla-S">S</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-M" value="m">
                                    <label for="talla-M">M</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" name="tallas" id ="talla-L" value="l">
                                    <label for="talla-L"> L</label>
                                </div>
                            </div>
                            <div class="tallas-text">
                                <div class="quant">
                                    <label for="cant-S">Cantidad:</label>
                                    <input type="number" name ="cantS" id="cant-S" value="<%=product.size.S%>">
                                </div>
                                <div class="quant">
                                    <label for="cant-M">Cantidad:</label>
                                    <input type="number" name ="cantM" id="cant-M" value="<%=product.size.M%>">
                                </div>
                                <div class="quant">
                                    <label for="cant-L">Cantidad:</label>
                                    <input type="number" name ="cantL" id="cant-L" value="<%=product.size.L%>">
                                </div>
                            </div>
                    </section>
                    <section class="agregar-img">
                        <p><strong>Imágenes:</strong></p>
                        <div class="imagenes">
                            <ul>
                                <li>
                                    <input type="file" name="image1" id="image"><label>Imagen 1</label>
                                </li>
                                <li>
                                    <input type="file" name="image2" id="image"><label>Imagen 2</label>
                                </li>
                            </ul> 
                        </div>
                    </section>                   
    
                    <section class="botones">
                        <button>Cancelar</button>
                        <button  type="reset">Borrar todo</button>
                        <button type="">Guardar cambios</button>
                    </section>
    
                </form>
        </div>
        
    </main>
</body>
</html>