<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Mi perfil</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Mi perfil</h1>
        <section class="info">
            <h2>Información actual</h2>

            <div class="info-card">
                <img src="/img/users/<%=user.image%>" alt="<%=user.first_name%>">
                <div class="info-card_fields">
                    <p class="info-element"><strong>Nombre(s):</strong>  <%=user.first_name%></p>
                    <p class="info-element"><strong>Apellido(s):</strong> <%=user.last_name%></p>
                    <p class="info-element"><strong>Email:</strong> <%=user.email%></p>
                </div>
            </div>

            <div class="edit">
                <button class="perfil-btn"><a href="/user/edit/<%=user.id%>">Modificar información</a></button>
                <button class="perfil-btn" id="borrar-cuenta">Borrar mi cuenta</button>
            </div>

            <div class="ventana">
                <div class="ventanaEmergente">
                    <div class="texto-ventana">
                        <p>¿Desea borrar su cuenta?</p>
                    </div>
                
                    <div class="botones-ventana">
                        <button class="confirmar-btn" id="cancelar">Cancelar</button>
                        <form action="/user/<%=user.id%>?_method=DELETE" method="POST">
                            <button type="submit" class="confirmar-btn">Aceptar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <p><%=locals.msg ? msg : ''%></p>        
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>