<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Mi perfil</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Mi perfil</h1>

    <section>
        <p><%=usu.first_name%></p>
        <p><%=usu.last_name%></p>
        <p><%=usu.email%></p>
    </section>

    <section>
        <a href="/user/edit/<%=user.id%>"> <button> Editar mi cuenta</button> </a>
        <form action="/user/<%=user.id%>?_method=DELETE" method="POST">
            <button type="submit" class="borrar-btn">Borrar mi cuenta</button>
        </form>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>