<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="register">
            <section class="register-title">
                <h1>Regístrate</h1>
                <p>Llena los siguientes campos para completar tu registro</p>
            </section>          
            <form class= "register-form" action="/user/register" method="POST" enctype="multipart/form-data">
                <div class="tec-inputs">
                    <section class="input-field">
                        <input type="text" placeholder="Nombre(s) *" name="user" class="user-input" value="<%=locals.old && old.user ? old.user : '' %>">
                        <%if (locals.errors) { %>
                            <% errors.forEach(error => {%>
                                <% if(error.param == 'user') {%>
                                <p class="register-errors"> <%=error.msg %></p>
                            <% }})%>
                        <% }%>
                    </section>
                    <section class="input-field">
                        <input type="text" placeholder="Apellido(s) *" name="lastname" class="last-name-input" value="<%=locals.old && old.lastname ? old.lastname : '' %>">                    
                        <%if (locals.errors) { %>
                            <% errors.forEach(error => {%>
                                <% if(error.param == 'lastname') {%>
                                <p class="register-errors"> <%=error.msg %></p>
                            <% }})%>
                        <% }%>
                    </section>
                    <section class="input-field">
                        <input type="email" placeholder="Correo electrónico *" name="email" class="email-input" value="<%=locals.old && old.email ? old.email : '' %>">
                        <%if (locals.errors) { %>
                            <% errors.forEach(error => {%>
                                <% if(error.param == 'email') {%>
    
                                <p class="register-errors"> <%=typeof error.msg === "object" ? error.msg.msg : error.msg %></p>
                            <% }})%>
                        <% }%>
                    </section>
                    <section class="input-field">
                        <input type="password" placeholder="Contraseña *" name="password" class="pass-input">
                        <%if (locals.errors) { %>
                            <% errors.forEach(error => {%>
                                <% if(error.param == 'password' ) {%>
                                <p class="register-errors"> <%=error.msg %></p>
                            <% }})%>
                        <% }%>
                    </section>
                    <section class="input-field">
                        <input type="password" placeholder="Confirmar contraseña *" name="passwordConfirm" class="pass-confirm-input ">
                        <%if (locals.errors) { %>
                            <% errors.forEach(error => {%>
                                <% if(error.param == 'passwordConfirm') {%>
                                <p class="register-errors"> <%=error.msg %></p>
                            <% }})%>
                        <% }%>
                        <p class="label">La contraseña debe contener al menos 8 caracteres, una mayúscula, una minúscula y un número</p>
                    </section>
                    <section class="input-field">
                        <div class="img-preview">
                            <button id="delete" class="delete">X</button>
                        </div>
                        <label for="imagenUsuario" >Imagen de perfil: </label>
                        <input type="file" name="imagenUsuario" id="file">
                        <%if (locals.errors) { %>
                            <% errors.forEach(error => {%>
                                <% if(error.param == 'imagenUsuario') {%>
                                <p class="register-errors"> <%=error.msg %></p>
                            <% }})%>
                        <% }%>
                    </section>       
                </div>
                <div class="checkitems">
                    <div class="check">
                        <input type="checkbox" id="politics" required checked>
                        <label for="politics">Autorizo la creación de mi cuenta JFL Bisutería con mi dirección de correo electrónico de conformidad con lo descrito en la Política de Privacidad.
                        </label>
                    </div>
                    <div class="check" >
                        <input type="checkbox" id="news" checked>
                        <label for="news">Quiero suscribirme al newsletter y recibir promociones y noticias a mi correo electrónico.</label>
                    </div>
                    <div>
                        <button type="submit" name="register" class="submit submit-input">Crear cuenta</button>
                    </div>
                </div> 
            </form>
                <p>Ya tienes una cuenta, <a href="/user/login">Inicia sesión</a></p>
        </div>
    </main>
    <script src="/js/register.js"></script>
</body>
</html>